.onoffswitch {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #262626; border-radius: 20px;
}

.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;border-radius: 20px;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;border-radius: 20px;
}

.onoffswitch-inner:before {
    content: "SI";
    text-align: left;
    padding-left: 10px;
    background-color: #006B2E; color: #FFF;
    opacity: 0.8;
    overflow:hidden;
    
}

.onoffswitch-inner:after {
    content: "NO";
    padding-right: 10px;
    background-color:  #D42124; color: #FFF;
    text-align: right;
    opacity: 0.8;
    overflow:hidden;
    
}

.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 1px solid #262626; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 30px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}



.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

@media screen and (max-width: 767px) {
    .onoffswitch {
     width: 60px;
     margin-left: 90%;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
}
}
@media screen and (max-width: 623px) {
.onoffswitch {
     width: 60px;
     margin-left: 80%;
}
}